.card
	padding: 0 1em
	font: normal 1em $fonte-principal
	border: 0
	box-shadow: 0 0 40px rgba(0, 0, 0, .1)
	margin: 1em 0

	&__icone
		margin: 1em auto
		font-size: 3em
		color: #fff
		background-color: $rosa
		border-radius: 50%
		min-height: 3em
		max-height: 3em
		min-width: 3em
		max-width: 3em
		display: flex
		justify-content: center
		align-items: center

	&__imovel
		background: #fff
		box-shadow: 0px -1px 2px rgba(58, 58, 58, 0.1), 1px 1px 2px rgba(58, 58, 58, 0.1)
		border-radius: 10px
		overflow: hidden

	&__imovel-imagem
		height: 200px
		overflow: hidden
		position: relative

		img
			object-fit: cover
			height: 100%
			width: 100%
			display: block
	
	&__imovel-detalhes
		padding: 1em
		text-align: left

		h3
			font-weight: bold
			font-size: 1.5em
			margin: 1em 0
			text-align: center

	&__imovel-link
		display: block
		border-top: 1px solid #ccc
		margin: 1em
		padding: 1em 1em .1em 1em
		font-size: 1.2em

	&__blank
		background: transparent
		color: #fff
		box-shadow: none