.menu
	&__horizontal
		list-style: none
		margin: 0
		padding: 0
		display: flex
		justify-content: flex-start

	&__horizontal-item
		width: 60px
		height: 60px
		display: flex
		justify-content: center
		align-items: center
		margin-right: 1em

		&_com-borda
			border: 3px solid	
			border-radius: 50%

		i
			font-size: 1em
			color: $cinza