.tag
	position: absolute
	font-size: 1.2em
	color: #fff

	&__opaco
	    top: 0
	    right: 0
	    min-width: 150px
	    max-width: 80%
	    padding: 8px 16px
	    background: rgba(132, 132, 132, 0.66)
	    line-height: 1.5em
	    border-bottom-left-radius: 24px

	&__escura
	    bottom: 0
	    left: 0
	    max-width: 70%
	    padding: 5px 10px
	    background: #1b1d2a

	&__rosa
	    bottom: 0
	    right: 0
	    background-image: linear-gradient(to right, rgba(216, 36, 96, 0.6) , #d82460)
	    color: #FFF
	    padding: 4px 10px

	    &::before
	    	position: absolute
		    right: 0
		    top: 0
		    bottom: 0
		    content: ""
		    left: -12px
		    border-top: 15px solid transparent
		    border-right: 12px solid rgba(216, 36, 96, 0.6)
		    border-bottom: 15px solid transparent
		    width: 0
		