.imovel
  &__banner
    background-color: #FFFFFF

  &__banner-imagem-ativa
    height: 600px
    figure
      height: 100%

  &__banner-miniatura-imagem
    height: 100px
    figure
      height: 100%

  &__descricao
    background-color: #FFFFFF
    min-width: 75%
    max-width: 75%
    font-size: 1.2em

  &__contato
    position: sticky
    top: 1em
    background-color: #FFFFFF
    min-width: 24%
    max-width: 24%

  &__endereco
    background-color: #FFFFFF
    min-width: 75%
    max-width: 75%
    font-size: 1.2em

  &__detalhes
    background-color: #FFFFFF
    min-width: 75%
    max-width: 75%
    font-size: 1.2em