.banner
	position: relative
	height: calc(100vh - 90px)
	overflow: hidden

	&::after
	    background-color: rgba(0, 0, 0, 0.40)
	    bottom: 0px
	    content: ''
	    left: 0px
	    position: absolute
	    right: 0px
	    top: 0px

	&__item
		img
		    object-fit: cover
		    height: 100%
		    width: 100%
		    display: block

	&__scroll
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 100px

		a
			display: block
			height: 100px
			span
				position: absolute
				top: 0
				left: 50%
				width: 24px
				height: 24px
				z-index: 3
				margin-left: -12px
				border-left: 1px solid #fff
				border-bottom: 1px solid #fff
				transform: rotate(-45deg)
				animation: sdb05 1.5s infinite
				box-sizing: border-box