html
	overflow-y: scroll

html, body
	background-color: #f7f7f7
	padding	: 0
	margin: 0
	font: normal 14px $fonte-principal

a, a:hover, a:active, a:visited
	color: inherit
	text-decoration: none

.titulo-secundario
	color: $cinza
	font: normal 1em $fonte-secundaria

	*
		color: inherit

.btn
    text-transform: none
    border: none
    padding: 1.5em !important

.btn-primary, .btn-primary:hover
	color: #FFFFFF !important
	background-color: rgba(25, 47, 66, 0.95) !important
	border-color: rgba(25, 47, 66, 0.95) !important

.btn-outline
	border: 2px solid
	background-color: #fff !important

.btn-outline.btn-primary
	color: $cor-primaria


p > i
	min-width: 2em
	text-align: center

.servicos
	background-color: rgba(25,47,66,0.95) !important
	position: relative
