select, input, textarea
	background-color: rgb(243, 243, 243) !important
	outline: none !important
	border: 1px solid #e5e5e5 !important
	padding: 1em !important
	box-shadow: none !important
	height: auto !important

textarea
	resize: none !important
	min-height: 150px