header
    min-width: 100%
    z-index: 20

.header
    &__navbar
        height: 90px
        padding: .5em 60px
        background-color: #FFFFFF

    &__nav-item
        margin-left: 3em

    &__nav-item.active
	    border-bottom: 3px solid #181d25

    &__nav-link
        display: block
        padding: .5rem 0
	