@for $i from 0 through 10
    .p-#{$i+1}
        padding: #{$spacer-base+$i*5}px !important
    
    .px-#{$i+1}
        padding-left: #{$spacer-base+$i*5}px !important
        padding-right: #{$spacer-base+$i*5}px !important
    
    .pl-#{$i+1}
        padding-left: #{$spacer-base+$i*5}px !important
    
    .pr-#{$i+1}
        padding-right: #{$spacer-base+$i*5}px !important
    
    .py-#{$i+1}
        padding-top: #{$spacer-base+$i*5}px !important
        padding-bottom: #{$spacer-base+$i*5}px !important
    
    .pt-#{$i+1}
        padding-top: #{$spacer-base+$i*5}px !important
    
    .pb-#{$i+1}
        padding-bottom: #{$spacer-base+$i*5}px !important

    .m-#{$i+1}
        margin: #{$spacer-base+$i*5}px !important
    
    .mx-#{$i+1}
        margin-left: #{$spacer-base+$i*5}px !important
        margin-right: #{$spacer-base+$i*5}px !important
    
    .my-#{$i+1}
        margin-top: #{$spacer-base+$i*5}px !important
        margin-bottom: #{$spacer-base+$i*5}px !important
    
    .ml-#{$i+1}
        margin-left: #{$spacer-base+$i*5}px !important
    
    .mr-#{$i+1}
        margin-right: #{$spacer-base+$i*5}px !important
    
    .mt-#{$i+1}
        margin-top: #{$spacer-base+$i*5}px !important

    .mb-#{$i+1}
        margin-bottom: #{$spacer-base+$i*5}px !important
    
    .mih-#{$i+1}
        min-height: #{($i+1)*10}vh
    
    .miwp-#{$i+1}
        min-width: #{($i+1) * 10 * 1%}

    .miw-#{$i+1}
        min-width: #{($i+1)*100}px
    
    .mxh-#{$i+1}
        max-height: #{($i+1)*10}vh

    .zi-#{$i+1}
        z-index: #{$i+1}

.space-between
    justify-content: space-between

.justify-end
	justify-content: flex-end

.background-white
    background-color: #fff

.background-cinza
    background-color: #f0f0f0

.background-dark
    background-color: #374254

.background-darker
    background-color: rgba(25, 47, 66, 0.95)

.text-white
    color: #fff

.flex
    display: flex
    flex-wrap: wrap

img.object-fit
    object-fit: cover
    height: 100%
    width: 100%
    display: block

.subtitulo
    border-bottom: 1px solid #e5e5e5
    margin: 0 0 1em 0

h2.subtitulo
    line-height: 2em

h3.subtitulo
    line-height: 1.6em

h4.subtitulo
    line-height: 1.4em
